{
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    "dev-expression"
  ],
  "env": {
    "es6": {
      "presets": [
        ["env", { "targets": { "node": "current" }, "useBuiltIns": true, "modules": false, "debug": true }]
      ],
    },
    "production": {
      "presets": [
        ["env", { "targets": { "node": "current" }, "useBuiltIns": true }]
      ],
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "react"
      ]
    }
  }
}
