{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-object-rest-spread",
    "lodash",
    "dev-expression"
  ],
  "env": {
    "test": {
      "presets": [
        "react"
      ]
    },
    "production": {
      "presets": [
      ]
    }
  }
}
