{
  "presets": [
    "latest",
    "stage-0"
  ],
  "plugins": [
    "dev-expression",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "presets": [
        ["latest", {"es2015": {"modules": false}}],
        "stage-0"
      ],
    },
  }
}
